*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    height: 80px;
    width: 100%;
    background-color: #FD6800;
    color: white;
    position: fixed;
    z-index: 1;
    box-shadow: 10px 10px 15px #dedede;
    
    
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
.logo{
    height: 30px;
    
}
.icons{
    width: 100px;
    cursor: pointer;
    
}
.white{
    color: white;
}

main{
    padding-top: 90px;
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    
}
.cards{
    display: flex;
    cursor: pointer;
    margin-top: 50px;
    position: relative;
    
    
    width: calc(100 / 3 -10px);

}

.cards img{
    display: flex;
    height: 500px;
    padding-bottom: 50px;
    
}
.heart{
    position: absolute;
    right: 0px;
    top: 15px;
    background-color: white;
    padding: 10px;
}
.heart:hover{
    color: red;
}
.sconto{
    position: absolute;
    background-color: red;
    bottom: 150px;
    left: 0px;
    padding: 5px;

}
.sostenibile{
    background-color: green;
    position: absolute;
    bottom: 150px;
    left: 50px;
    padding: 5px;

}
.last-sostenibile{
    background-color: green;
    position: absolute;
    bottom: 150px;
    
    padding: 5px;

}
.description{
    display: inline-block;
    position: absolute;
    bottom: 0;
    
    
}


 .img .after-img{
    position: absolute;
    top: 0;
    left: 0;
    display: none; 
} 
.img:hover .after-img{
    display: inline;
}

h5{
    color: #8595A9;
}
.cost{
    color: red;
    display: inline-block;

}
span{
    text-decoration-line: line-through;
}
footer{
   
}




.nav-bottom{
    height: 100%;
    background-color: black;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-around;
    
    
    
}
.left-footer{
    width: 50%;
}
.srl{
    padding: 10px;
}
.icons-footer{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    
}