*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    height: 80px;
    width: 100%;
    background-color: #FD6800;
    color: white;
    position: fixed;
    z-index: 1;
    
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
.logo{
    height: 30px;
    


}
.icons{
    width: 100px;
    color: white;
}


main{
    padding-top: 90px;
    width: 1200px;
    margin: auto;
    gap: 15px;
}
.cards{
    position: relative;
    width: 33%;
    height: 600px;
    
    display: inline-block;
    margin-top: 50px;

}
.cards img{
    
    width: 100%;
    height: 100%;
    
}
.heart{
    color: black;
    height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    background-color: white;
    right: 0px;
    top: 10px;
    

}