*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    height: 80px;
    width: 100%;
    background-color: #FD6800;
    color: white;
    position: fixed;
    z-index: 1;
    
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
.logo{
    height: 50px;
}
.icons{
    width: 100px;
    color: white;
}


main{
    padding-top: 90px;
    width: 900px;
    margin: auto;
}